*{
  margin: 0;
  padding: 0;
}
 .panel{
    position: absolute;
    top : 20px;
    left : 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    padding: 12px 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    z-index: 10;
 }

 button {
    padding: 8px 18px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #bf43fd, #ff4df0);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }