*{
  margin: 0;
  padding: 0;
}

.btn1{
  position: absolute;
  padding: 5px 17px;
  top: 30px;
  z-index: 100;
  left: 50px;
  margin: auto;
  font-size: 24px;
  background-color: hotpink;
  border: 2px solid black;
  border-radius: 10px;
    cursor: pointer;
}

.btn2{
  position: absolute;
  padding: 5px 17px;
  top: 90px;
  cursor: pointer;
  z-index: 100;
  left: 50px;
  margin: auto;
  font-size: 24px;
  background-color: hotpink;
  border: 2px solid black;
  border-radius: 10px;
}
